@font-face{
	font-family: "YuGiOh";
	src: url("matrixbsc_0.ttf");
    font-weight: normal;
    font-style: normal;
    font-strecht: condensed;
}

body{
	background-color: black;
    color: #fff;
	font-family:YuGiOh;
}

img{
    width: 100%;
    max-width: 75px;
}

img:hover{
	box-shadow:0px 0px 5px #fff;
}

#new{
    width: 100%;
    max-width: 75px;
    display: block;
}
#new:over{
	box-shadow:0px 0px 0px #fff !important;
}

#deck-container {
    border: solid 1px #9E9E9E;
    max-width: 1000px;
    margin: 20px 0px 10px 0px;
    border-radius: 20px;
    background-color: #b0b1b157;
}
#title {
    font-size: 30px;
    border: solid 1px #9E9E9E;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #757575;
}
a{
	text-decoration:none;
	color:#fff;
}

#descripcion{
	background-color: #ba4f1b;
    padding: 10px;
    border-radius: 10px;
    color: black;
    width: 189px;
    margin-left: -5px;
    margin-top: 34px;
}

#Menu{
	border: solid 1px #9E9E9E;
    margin: 3px 1px 3px 1px;
    border-radius: 10px;
    background-color: #b0b1b157;
    display: inline-table;
    width: 250px;
    height: 50px;
}
#Menu:hover{
	border: solid 1px #9E9E9E;
    margin: 3px 1px 3px 1px;
    border-radius: 10px;
    background-color: #b0b1b187;
    display: inline-table;width: 250px;
    width: 250px;
    height: 50px;
}
#menu_text{
	display: inline-table;
}